.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
!testcomplete-ts-api/**/*.d.ts
!testcomplete-ts-api/**/tsconfig.json
